<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h2>Component</h2>
            <h3>Toolkit</h3>

            <button type="button" class="btn btn-secondary btn-block" (click)="projectService.createButton()">Button</button>

            <br>
            <hr>
            <h2>Routes</h2>
            <ul class="nav nav-pills nav-stacked">
                <li *ngFor="let r of projectService.project.routes" class="nav-item">
                    <button [class.btn-primary]="projectService.project.currentRoute.equals(r)" [class.btn-secondary]="!projectService.project.currentRoute.equals(r)"
                        [class.active]="projectService.project.currentRoute.equals(r)" class="btn btn-block nav-link" (click)="projectService.project.currentRoute = r">{{r.name}}</button>
                </li>
            </ul>

            <hr>
            <button type="button" class="btn btn-secondary btn-block" routerLink="add-route">Add Route</button>
            <button type="button" class="btn btn-secondary btn-block" (click)="projectService.save()">Save</button>
            <hr>
            <button type="button" class="btn btn-danger btn-block" (click)="projectService.reset()">Reset</button>
        </div>

        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
            <h1>Preview {{projectService.project.currentRoute.name}}</h1>
            <h2>Route: {{projectService.project.currentRoute.pathPretty}}</h2>
            <button (click)="projectService.project.deleteCurrentRoute()" type="button" class="btn btn-danger">Delete</button>
            <hr>
            <div class="row" *ngFor="let c of projectService.project.currentRoute.components">
                    <p>{{c.type}}</p>
            </div>
        </div>
    </div>
</div>